DISCORD_TOKEN=MTU0NTMxMjcyMzE4ODA2MDI2MA.GIq_4O.GiR4TrGcMglZ9Md1fE4rMl2KgvdthPro9_Rq0s
DISCORD_CLIENT_ID=1545312723188060260
DISCORD_GUILD_ID=1545307115827232808
BACKUP_CHANNEL_ID=
NEXA_DATABASE_PATH=data/nexa.db